*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header{
  background-color:#6100d1;
}


.navbar{
    padding-top: 20px ;
}

.nav-item{
    margin: 0 3rem 0.9rem 0;
}

.nav-link{
    color: #fff;
    font-size: 0.8rem;
    padding: 0 0 0.5rem 0;
    display: unset;
}

.navbar-brand img{
    width: 6rem;
}

.uil-bars{
    color: #fff;
    font-size: 3rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.active-home{
    border-bottom: 0.2rem solid #fff;
}

.nav-link:hover{
    border-bottom: 0.2rem solid #fff;
}


                        /*Navigation Menu Ends  */

                        /* HEADER CONTENT */
.banner{
margin-top: 8%;
color: #fff;
}  

.banner h1{
    margin: 4.5rem 0 3.2rem ;
    font-weight: 600;
    font-size: 3.2rem;
}

.banner img{
    max-height:32rem ;
}

.banner a{
    padding:0.8rem;
    width: 9rem;
    display: inline-block;
    
    text-decoration: none;
    color: #fff;
    border: 0.2rem solid #fff;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 1.9rem;
    
    font-size: 0.8rem;
}

.banner a:hover{
    color: #fff;
}

.express-btn{
     background: #fff !important;
     color: #000 !important;
     margin-right: 0.5rem;
}

                        /* SERVICES */

.service{
    margin: 5rem 0;
}

.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.9rem;
}

.subtitle{
    text-align: center;
    margin-bottom: 4rem;
    font-size: 1rem;
}

.service-box{
    padding: 0 1.9rem;
    cursor: pointer;
    margin-bottom: 0.6rem;
    transition: 400ms;
}

.service-box img{
    width: 3.8rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.service-box h6{
    margin-bottom: 3rem;
    font-weight:bold ;
}

.service-box p{
    font-size: 0.9rem;
    color: #808080;
}

.uil-arrow-right{
    font-size: 2.3rem ;
    margin-top: 1.9rem;
    margin-bottom: 2.1rem;
    cursor: pointer;
}

.service-box:hover ,.active-service{
    background: #6900d1;
    border-radius: 0.3rem;
    color: #fff;
    box-shadow:0 0.9rem 0.9rem 0.2rem rgba(213, 213, 213, 0.5);
}

.service-box:hover p{
    color: #fff;
}

.active-service p{
    color: #fff;
} */

                        /* END OF SERVICES */

                            /* FEATURE */

.feature,.explore{
    margin: 12.5rem 0;
}

.feature img{
 max-width: 77%;
 cursor: pointer;
}

.feature h2,.explore h2{
    margin-top: 6.2rem;
    font-weight: bold;
    line-height: 3.1rem;
}

.feature p,.explore p{
    margin-top: 1.3rem;
    margin-bottom: 3.1rem;
    color: #808080;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.feature a,.explore a{
    width: 10.6rem;
    padding:0.9rem 0.6rem ;
    background: #6900d1;
    color: #fff;
    text-decoration: none;
    border-radius: 0.3rem;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    box-shadow: 0 0.5rem 0.5rem 0.06rem rgba(204, 204, 204, 0.5);
}

.explore a{
    margin-bottom: 3rem;
}


                        /* RIVIEW */

 .review{
    margin: 6.25rem 0;
}

.item1 >.carousel-item img{
    width: 9.4rem ;
    border-radius: 50%;
}

.carousel-inner >.item2{
    text-align: center;
    height: 27rem;
}

.carousel-item >.carousel-caption{
    z-index: -1;
    box-shadow: 0 0 0.9rem 0.06rem rgba(166, 163, 223, 0.5);
    border-radius: 0.3rem;
    margin-bottom: 3.3rem;
}

.carousel-item >.carousel-caption h6{
    margin-top:4.2rem ;
    font-weight: bold;
    color: #000;
}

.carousel-item >.carousel-caption small{
    margin-top:0.6rem  0 3rem;
    
    color: #000;
}

.carousel-item >.carousel-caption p{
    text-align: center ;
    padding: 0 3rem;
    font-size: 1rem;
    color: #808080;
}

.carousel-indicators,.li{
    background-color: #6900d1;
} 


                                /* FOOTER */

.footer{
    background: #6900d1;
    padding-top: 0.6rem;

}

.footer h2{
color: #fff;
font-weight: 600 ;
margin: 5rem 0;
}

.footer input{
    width: 60%;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 0.06rem solid #fff;
    padding: 0.5rem;
    color: #fff;
    margin-bottom: 1.8rem;
    text-align: center;
}

::placeholder{
    color: #efefef;

}

.footer button{
    padding: 0.4rem;
    width: 11rem;
    display: block;
    color: #fff;
    margin: auto;
    border: 0.06rem solid #fff;
    font-size: 1.5rem;
    background: transparent;
}

.footer small{
    font-size: 0.8rem;
    padding:2.8rem 0 ;
    color: #fff;
}
 /* customers */
/* .customers_container{
    margin-top: 6rem;
    overflow-x: hidden;
}

.customer{
    padding-top: 2rem;
}

.avatar{
    margin-bottom: 1.8rem;
    grid
}

.customer h2{
    font-size: 2rem;
}

.customer span{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.3rem 0 0.5rem;
    color: red;
    padding: 1.4rem 0 1.4rem;
}

.customer p{
    margin-top: 1.3rem;

}

 


 */

